@import "tailwindcss";

.box {
    max-width: 1280px;
    width: calc(100% - 40px);
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1279px) {
    .xl-box {
        width: 100%;
    }
}


.teste {
    @apply bg-red-500/20 shadow-[inset_0_0_10px_red];
}