@import "tailwindcss";

.box {
    max-width: 1280px;
    width: calc(100% - 40px);
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1279px) {
    .xl-box {
        width: 100%;
    }
}

.scrollbar-clean::-webkit-scrollbar {
    width: 13px;
}

.scrollbar-clean::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-clean::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 9999px;

    border: 4px solid transparent;
    background-clip: padding-box;
}

.scrollbar-clean::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    cursor: default;
}

.scrollbar-clean::-webkit-scrollbar-button {
    display: none;
}


.teste {
    box-shadow: inset 0 0 10px red;
    background-color: rgba(255, 0, 0, 0.20);
}